/* ===============================================
   CSS
   =============================================== */

   .backgroundcolorgreen {	
   	background-color: #008000;
   }
   .divname {
   	font-size: 80px;
   	color: white;
   }
   .divrole {
   	font-size: 40px;
   	color: white;
   }
   .divsocialbuttons {
   }